body {
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 30px;
}

h1 {
    font-size: 3rem;
    margin-bottom: 10px;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 2px;
}

h2 {
    font-size: 1.5rem;
    color: #666;
    margin-bottom: 20px;
}

span {
    font-weight: 700;
    font-size: 1.2rem;
    margin-bottom: 20px;
    display: block;
    color: #ff6347;
}

.btn-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.line-one, .line-two {
    display: flex;
    gap: 20px;
}

.btn {
    height: 130px;
    width: 130px;
    border-radius: 15px;
    cursor: pointer;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.1s ease-in-out, background-color 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
    user-select: none;
}

.red {
    background-color: #e74c3c;
}

.yellow {
    background-color: #f1c40f;
    color: #333;
}

.green {
    background-color: #27ae60;
}

.purple {
    background-color: #9b59b6;
}



.btn:hover {
    transform: scale(1.05);
}

.btn:active {
    transform: scale(0.95);
}



.flash {
    background-color: #ecf0f1 !important;
    color: #333 !important;
}


.btn {
    transition: background-color 0.2s ease, transform 0.1s;
}

@media (max-width: 600px) {
    .btn {
        height: 100px;
        width: 100px;
    }
    h1 {
        font-size: 2rem;
    }
    h2 {
        font-size: 1.2rem;
    }
    span {
        font-size: 1rem;
    }
}
